<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>TMDB-SQL</display-name>
  <servlet>
  	<servlet-name>TmdbServlet</servlet-name>
  	<servlet-class>com.fabfour.servlets.TmdbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TmdbServlet</servlet-name>
  	<url-pattern>/TmdbServlet</url-pattern>
  </servlet-mapping>
</web-app>
